.carouselDisplay {
  height: 87px;
  background: #edf0f4;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.carouselInner {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-align: center;
  display:block;
}

.sideBar {
  height: 20%;
  margin-left: 100%;
  width:20%;
  background: #edf0f4;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  display:block;
}
